sphinx>=7.0
sphinx-automodapi
sphinx-astropy
numpydoc
sphinx-rtd-theme
nbsphinx
ipython
ipykernel
astropy
sphinx-astropy
sphinx-changelog
sphinx-design
sphinxcontrib-globalsubs
myst-nb
jupytext
matplotlib
ipython
pydata-sphinx-theme
